@import url('https://fonts.googleapis.com/css2?family=Birthstone&family=Ephesis&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Birthstone', cursive;
  margin: auto;
  text-align: center;
  background-color: #ddd;
  font-size: 24px;
}

p {
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: purple;
}

a:hover {
  color: darkviolet;
}

img {
  width: 80%;
  margin-bottom: 50px;
  box-shadow: 9px 9px black;
  transition: 1s all;
}

img:hover {
  transform: translateX(-10px) translateY(-20px);
  box-shadow: 25px 25px black;
  transition: 1s all;
}

/* Container */
.container {
  max-width: 70%;
  margin: auto;
}


/* Header */
header {
  margin-top: 50px;
  margin-bottom: 50px;
}

header h1 {
  font-size: 9rem;
  text-shadow: 4px 4px #fff;
}

#title:hover {
  transform: translateX(-5px) translateY(-7px);
  text-shadow: 10px 10px #fff;
  transition: 1s all;
}

#title:not(hover) {
  transition: 0.5s all;
}

#head-p {
  font-size: 2rem;
}

/* About Life */
#about {
  margin-bottom: 10px;
  font-size: 2rem;
  text-shadow: 1px 1px #fff;
  transform: translateX(0) translateY(0);
  transition: 1s all ease-out;
}

#about:hover {
  text-shadow: 1px 2px #fff;
  transform: translateX(-1.5px) translateY(-2.5px);
}

.quote {
  font-size: 1.5rem;
}

.quoted {
  font-size: 1.2rem;
}

p#qq{
  margin-top: 20px;
}

/* Footer */
footer {
  font-size: 1.5rem;
  margin-top: 30px;
  margin-bottom: 10px;
}

span p {
  margin-top: 10px;
}

/* Media Queries */
@media (max-width: 1000px) {
  .container {
    max-width: 92%;
  }

  h1 {
    font-size: 5rem !important;
  }

  img {
    width: 100%;
  }
}

@media (max-width: 540px) {
  .container {
    max-width: 93%;
  }

  h1 {
    font-size: 3rem !important;
  }

  #head-p {
    font-size: 1.6rem;
  }

  img {
    width: 100%;
  }
}
